* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  min-height: 100vh;
  background: url('img/biblioteca.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  background: rgba(255, 255, 255, 0.92);
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 700px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

h1 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 30px;
}

h2 {
  color: #2c3e50;
  text-align: center;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

button {
  background-color: #2ec094;
  border: none;
  padding: 10px 16px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #239c78;
}


.tab-content {
  display: none;
  animation: fadeIn 0.3s ease-in-out;
}

.tab-content.active {
  display: block;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
}

input:hover {
  border-color: #2ec094;
}

input:focus {
  border-color: #2ec094;
  box-shadow: 0 0 5px rgba(46, 192, 148, 0.4);
}

.relatorio-botoes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
}

pre {
  background-color: #ecf0f1;
  padding: 10px;
  border-radius: 5px;
  white-space: pre-wrap;
  max-height: 300px;
  overflow-y: auto;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}

.botoes-acao {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.botao {
  background-color: #2ec094;
  border: none;
  padding: 10px 16px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
}

.botao:hover {
  background-color: #239c78;
}

.botao-limpar {
  background-color: #2ec094;
}

.botao-limpar:hover {
  background-color: #239c78;
}
